In [10]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import datetime as dt

In [17]:
raw_data = pd.read_csv('Telecommunication Services.csv', sep='\s*,\s*',
                           header=0, encoding='ascii', engine='python')

In [18]:
apple = raw_data[raw_data['Name'] == 'CTL']

In [19]:
apple.head(5)

,Unnamed: 0,date,open,high,low,close,volume,Name,full_name,sector
0,146251,2013-02-08,41.17,41.38,41.10,41.36,4276175,CTL,CenturyLink Inc,Telecommunication Services
1,146252,2013-02-11,41.29,41.59,41.27,41.51,3009444,CTL,CenturyLink Inc,Telecommunication Services
2,146253,2013-02-12,41.57,42.01,41.43,41.76,6403569,CTL,CenturyLink Inc,Telecommunication Services
3,146254,2013-02-13,41.77,41.88,41.46,41.69,8139116,CTL,CenturyLink Inc,Telecommunication Services
4,146255,2013-02-14,33.97,34.15,32.05,32.27,70769166,CTL,CenturyLink Inc,Telecommunication Services

## We calculate drawdown to determine the estimated gain required to recover from the all-time low compared to the all-time high

In [36]:
min_close = apple.loc[apple['close'].idxmin()].close
min_close

13.619999999999999

In [37]:
max_close = apple.loc[apple['close'].idxmax()].close
max_close

41.810000000000002

In [30]:
max_drawdown = (max_close - min_close) / max_close

In [31]:
max_drawdown

0.67424061229370968

#### Time needed for recovery formula:  https://quant.stackexchange.com/questions/25017/what-is-the-formula-for-calculating-draw-down-recovery-percentage

In [41]:
#the time needed for recovery follows this formula
gain_needed = max_drawdown / (1 - max_drawdown)
gain_needed * 100 #units in percentage

206.97503671071956

#### Then determine Compound Annual Growth Rate: https://www.investopedia.com/terms/c/cagr.asp

In [44]:
apple.loc[apple['close'].idxmax()]

Unnamed: 0                        146688
date                          2014-11-03
open                               41.53
high                               41.97
low                                 41.4
close                              41.81
volume                           2222062
Name                                 CTL
full_name                CenturyLink Inc
sector        Telecommunication Services
Name: 437, dtype: object

In [53]:
apple['date'] = pd.to_datetime(apple['date'])

dataframe1=apple[apple['date'].dt.year == 2014]

C:\Users\sharfaraz\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
dataframe2 =apple[apple['date'].dt.year == 2017]

In [49]:
apple.loc[apple['close'].idxmin()]

Unnamed: 0                        147460
date                 2017-11-27 00:00:00
open                               13.85
high                               14.05
low                                13.56
close                              13.62
volume                          13763783
Name                                 CTL
full_name                CenturyLink Inc
sector        Telecommunication Services
Name: 1209, dtype: object

In [56]:
end_price = dataframe2['close'][dataframe2.index[-1]]

In [64]:
start_price = dataframe1['close'][dataframe1.index[-1]]