In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from pandas.plotting import lag_plot
import sklearn.linear_model
import time
%matplotlib inline

# Downloading data directly from Google

In [ ]:
'''
Follow directions here to create an API to access the data hosted on 
the drive: https://pythonhosted.org/PyDrive/quickstart.html

Once the client_secrets.json file is in ./Marin Workspace/ run the code 
below just once
'''
gauth = GoogleAuth()
gauth.LocalWebserverAuth()

In [ ]:
'''
Run the following code to download the data using the file's ID
'''
SP500_sectors_filled = '1S6lRlfRRVJT2pH_fLBgX9ZbWjroD-DSZ'
drive = GoogleDrive(gauth)
data = drive.CreateFile({'id': all_stocks_5yr})
data.GetContentFile('SP500_sectors_filled.csv')

# Load stock data and sector data

In [2]:
stock_data = pd.read_csv('all_stocks_5yr.csv', parse_dates = ['date'])
sector_data = pd.read_csv('sectors.csv')
sp_filled = pd.read_csv('SP500_sectors_filled.csv')
#sp_metrics = pd.read_csv('sp_metrics.csv')

In [ ]:
def combine_dataframes(stock, sector):
    '''
    First parameter must be the stock dataframe and the second paramater must be the sector 
    dataframe. This will return a dataframe matching stocks to their sectors
    '''
    
    stock.set_index('Name', inplace = True)
    sector.set_index('Symbol', inplace = True)
    
    df = pd.concat([stock_data, sector_data], axis = 1, join_axes=[stock.index])
    
    df.rename(columns={'Name':'full_name'}, inplace = True)
    df.reset_index(inplace = True)
    df.set_index('date', inplace = True)
    
    return df

In [10]:
sp_filled.head()

         date   open   high    low  close    volume Name  per_change  Sector
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL   -0.021234       5
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL   -0.028878       5
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL   -0.012457       5
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL    0.025175       5
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL   -0.063588       5

In [3]:
sp_filled.dropna(inplace=True)

In [14]:
def encode_sectors(dataframe, sector_name):
    '''
    Takes in the dataframe and the name of the column that describes the Sectors.
    Mutates the dataframe with encoded sector labels and returns an array of the 
    encoded sectors.
    '''
    
    label_encoder = preprocessing.LabelEncoder()
    dataframe[sector_name] = label_encoder.fit_transform(dataframe[sector_name])
    
    return label_encoder.classes_

In [39]:
# convert df to x values
def df_to_inputs(dataframe, sector_name):
    
    temp_dataframe = dataframe.drop(sector_name, axis=1)
    x = temp_dataframe.values
    x = x.astype(np.float32)
    
    y = dataframe[sector_name].values
    y = y.astype(np.float32)
    y = y.reshape(-1, 1)
    
    return x, y

In [40]:
x2,y2 = df_to_inputs(sp_filled, "Sector")

In [42]:
x2.shape

(619029, 6)

In [44]:
y2.shape

(619029, 1)

In [18]:
sp_filled.drop(['Name', 'date'], axis=1, inplace=True)

In [19]:
x1 = df_x(sp_filled, "Sector")

In [27]:
x1.shape

(619029, 6)

In [ ]:
le.classes_

In [ ]:
sp_filled['Name'] = sp_filled['Name'].apply(preprocessing.LabelEncoder().fit_transform)
sp_filled.groupby(['Name','Sector']).mean()