In [7]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from pandas.plotting import lag_plot
import sklearn.linear_model
import time
%matplotlib inline

# Downloading data directly from Google

In [ ]:
'''
Follow directions here to create an API to access the data hosted on 
the drive: https://pythonhosted.org/PyDrive/quickstart.html

Once the client_secrets.json file is in ./Marin Workspace/ run the code 
below just once
'''
gauth = GoogleAuth()
gauth.LocalWebserverAuth()

In [ ]:
'''
Run the following code to download the data using the file's ID
'''
SP500_sectors_filled = '1S6lRlfRRVJT2pH_fLBgX9ZbWjroD-DSZ'
drive = GoogleDrive(gauth)
data = drive.CreateFile({'id': all_stocks_5yr})
data.GetContentFile('SP500_sectors_filled.csv')

# Load stock data and sector data

In [15]:
stock_data = pd.read_csv('all_stocks_5yr.csv', parse_dates = ['date'])
sector_data = pd.read_csv('sectors.csv')
sp_filled = pd.read_csv('SP500_sectors_filled.csv')
sp_metrics = pd.read_csv('sp_metrics.csv')

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 0-1: invalid continuation byte

In [11]:
sp_filled.head(5)

,date,open,high,low,close,volume,Name,per_change,Sector
0,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL,-0.021234,Industrials
1,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL,-0.028878,Industrials
2,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL,-0.012457,Industrials
3,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL,0.025175,Industrials
4,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL,-0.063588,Industrials

In [12]:
sp_filled.isnull().sum()

date           0
open          11
high           8
low            8
close          0
volume         0
Name           0
per_change    11
Sector         0
dtype: int64

In [13]:
sp_filled.dropna(inplace = True)

In [14]:
sp_filled.isnull().sum()

date          0
open          0
high          0
low           0
close         0
volume        0
Name          0
per_change    0
Sector        0
dtype: int64

In [5]:
def combine_dataframes(stock, sector):
    '''
    First parameter must be the stock dataframe and the second paramater must be the sector 
    dataframe. This will return a dataframe matching stocks to their sectors
    '''
    stock.set_index('Name', inplace = True)
    sector.set_index('Symbol', inplace = True)
    
    df = pd.concat([stock_data, sector_data], axis = 1, join_axes=[stock.index])
    
    df.rename(columns={'Name':'full_name'}, inplace = True)
    df.reset_index(inplace = True)
    df.set_index('date', inplace = True)
    
    return df

In [6]:
#Assuming SP_500 data set and sector data set are in the working directory
df = combine_dataframes(stock_data, sector_data)
df

,Name,open,high,low,close,volume,full_name,Sector
date,,,,,,,,
2013-02-08,AAL,15.07,15.1200,14.6300,14.75,8407500,American Airlines Group,Industrials
2013-02-11,AAL,14.89,15.0100,14.2600,14.46,8882000,American Airlines Group,Industrials
2013-02-12,AAL,14.45,14.5100,14.1000,14.27,8126000,American Airlines Group,Industrials
2013-02-13,AAL,14.30,14.9400,14.2500,14.66,10259500,American Airlines Group,Industrials
2013-02-14,AAL,14.94,14.9600,13.1600,13.99,31879900,American Airlines Group,Industrials
2013-02-15,AAL,13.93,14.6100,13.9300,14.50,15628000,American Airlines Group,Industrials
2013-02-19,AAL,14.33,14.5600,14.0800,14.26,11354400,American Airlines Group,Industrials
2013-02-20,AAL,14.17,14.2600,13.1500,13.33,14725200,American Airlines Group,Industrials
2013-02-21,AAL,13.62,13.9500,12.9000,13.37,11922100,American Airlines Group,Industrials
2013-02-22,AAL,13.57,13.6000,13.2100,13.57,6071400,American Airlines Group,Industrials
2013-02-25,AAL,13.60,13.7600,13.0000,13.02,7186400,American Airlines Group,Industrials
2013-02-26,AAL,13.14,13.4200,12.7000,13.26,9419000,American Airlines Group,Industrials
2013-02-27,AAL,13.28,13.6200,13.1800,13.41,7390500,American Airlines Group,Industrials
2013-02-28,AAL,13.49,13.6300,13.3900,13.43,6143600,American Airlines Group,Industrials
2013-03-01,AAL,13.37,13.9500,13.3200,13.61,7376800,American Airlines Group,Industrials
2013-03-04,AAL,13.50,14.0700,13.4700,13.90,8174800,American Airlines Group,Industrials
2013-03-05,AAL,14.01,14.0500,13.7100,14.05,7676100,American Airlines Group,Industrials
2013-03-06,AAL,14.52,14.6800,14.2500,14.57,13243200,American Airlines Group,Industrials
2013-03-07,AAL,14.70,14.9300,14.5000,14.82,9125300,American Airlines Group,Industrials
2013-03-08,AAL,14.99,15.2000,14.8400,14.92,10593700,American Airlines Group,Industrials
2013-03-11,AAL,14.85,15.1500,14.7100,15.13,6961800,American Airlines Group,Industrials
2013-03-12,AAL,15.14,15.6000,14.9500,15.50,8999100,American Airlines Group,Industrials
2013-03-13,AAL,15.54,16.2000,15.4800,15.91,11380000,American Airlines Group,Industrials
2013-03-14,AAL,15.98,16.3600,15.9300,16.25,8383300,American Airlines Group,Industrials
2013-03-15,AAL,16.45,16.5400,15.8800,15.98,17667700,American Airlines Group,Industrials
2013-03-18,AAL,15.80,16.3300,15.7100,16.29,6514100,American Airlines Group,Industrials
2013-03-19,AAL,16.48,16.8500,16.4100,16.78,11805300,American Airlines Group,Industrials
2013-03-20,AAL,17.13,17.3300,16.8700,17.23,10819800,American Airlines Group,Industrials
2013-03-21,AAL,17.21,17.4300,16.8700,17.00,10740800,American Airlines Group,Industrials
2013-03-22,AAL,17.10,17.2900,16.7700,16.86,8545200,American Airlines Group,Industrials
...,...,...,...,...,...,...,...,...
2017-12-26,ZTS,72.40,72.5500,71.9000,72.34,792134,Zoetis,Health Care
2017-12-27,ZTS,72.59,72.6900,72.2500,72.45,1159771,Zoetis,Health Care
2017-12-28,ZTS,72.49,72.6000,72.1400,72.39,710499,Zoetis,Health Care
2017-12-29,ZTS,72.55,72.7600,72.0400,72.04,1704122,Zoetis,Health Care
2018-01-02,ZTS,72.54,72.5900,71.4650,71.77,2135564,Zoetis,Health Care
2018-01-03,ZTS,71.77,72.1800,71.3400,72.10,2328506,Zoetis,Health Care
2018-01-04,ZTS,72.75,72.9128,72.2600,72.53,2534010,Zoetis,Health Care
2018-01-05,ZTS,72.83,73.9200,72.5700,73.36,2166065,Zoetis,Health Care
2018-01-08,ZTS,73.43,74.4200,73.1607,74.24,3631552,Zoetis,Health Care
2018-01-09,ZTS,74.70,75.4750,74.4650,75.11,2721946,Zoetis,Health Care
2018-01-10,ZTS,74.58,74.8000,73.2800,73.91,2257464,Zoetis,Health Care
2018-01-11,ZTS,74.05,74.6800,73.7200,74.59,1629279,Zoetis,Health Care
2018-01-12,ZTS,74.91,75.6900,74.7700,75.39,1915669,Zoetis,Health Care
2018-01-16,ZTS,76.06,76.4000,75.2100,75.54,2599094,Zoetis,Health Care
2018-01-17,ZTS,75.81,77.0300,75.3900,76.77,2769587,Zoetis,Health Care
2018-01-18,ZTS,76.65,76.6500,75.8500,76.33,2588995,Zoetis,Health Care
2018-01-19,ZTS,76.69,76.9100,76.2200,76.62,4829602,Zoetis,Health Care
2018-01-22,ZTS,76.67,77.5800,76.6200,77.48,4195103,Zoetis,Health Care
2018-01-23,ZTS,77.30,78.3200,76.9700,77.59,2264132,Zoetis,Health Care
2018-01-24,ZTS,78.16,78.5100,77.6000,78.33,2585326,Zoetis,Health Care
2018-01-25,ZTS,78.47,79.3800,78.3450,79.25,2327262,Zoetis,Health Care
2018-01-26,ZTS,79.49,80.1300,79.3800,80.09,2532808,Zoetis,Health Care
2018-01-29,ZTS,79.81,79.9500,79.1100,79.18,2662383,Zoetis,Health Care
2018-01-30,ZTS,78.44,78.6900,77.9100,78.35,3808707,Zoetis,Health Care
2018-01-31,ZTS,78.49,78.7700,76.5400,76.73,4136360,Zoetis,Health Care
2018-02-01,ZTS,76.84,78.2700,76.6900,77.82,2982259,Zoetis,Health Care
2018-02-02,ZTS,77.53,78.1200,76.7300,76.78,2595187,Zoetis,Health Care
2018-02-05,ZTS,76.64,76.9200,73.1800,73.83,2962031,Zoetis,Health Care
2018-02-06,ZTS,72.74,74.5600,72.1300,73.27,4924323,Zoetis,Health Care
2018-02-07,ZTS,72.70,75.0000,72.6900,73.86,4534912,Zoetis,Health Care

In [ ]:
stock_data.head(5)

In [ ]:
sector_data.head(5)

In [ ]:
#Check for empty entries
stock_data.isnull().sum()

In [ ]:
#Check for empty entries
sector_data.isnull().sum()

In [ ]:
#Drop rows with empty values
stock_data.dropna(inplace = True)

In [ ]:
#Find the intersection of tickers between the two data sets
#Findings: there's missing data
stocks = set(stock_data.Name.unique())
sector = set(sector_data.Symbol.unique())

start = time.time()
intersection = [symbol for symbol in stocks if symbol in sector]
end = time.time()
print(len(intersection))
print(end-start)

start = time.time()
intersection = stocks.intersection(sector)
print(len(intersection))
end = time.time()
print(end-start)

In [ ]:
#Which stocks are missing from both data sets
stocks.symmetric_difference(sector)

* CBG -> CBRE
* HCN -> WELL
* SNI -> AQUIRED BY Discovery Communications (Drop)
* CHK -> REMOVED DUE TO MARKET CAP CHANGES (Drop) Energy Company
* PDCO -> REMOVED DUE TO MARKET CAP CHANGES (Drop)
* SIG -> REMOVED DUE TO MARKET CAP CHANGES (Drop)
* PCLN -> no data (?)

In [ ]:
#Create dictionary to replace old names with new
replace_tickers = {'CBG': 'CBRE', 'HCN': 'WELL'}
stock_data.replace(replace_tickers, inplace = True)

In [ ]:
aapl_df = df[df['Name'] == 'AAPL']

X_train = (aapl_df.index - aapl_df.index[0]).days.values[0:629].reshape(-1,1)
y_train = aapl_df['close'].values[0:629].reshape(-1,1)

X_test = (aapl_df.index - aapl_df.index[0]).days.values[629:-1].reshape(-1,1)
y_test = aapl_df['close'].values[629:-1].reshape(-1,1)

lin_reg_model = sklearn.linear_model.LinearRegression()

lin_reg_model.fit(X_train, y_train)

In [ ]:
df3 = combine_dataframes(stock_data, sector_data)

In [ ]:
df3

In [ ]:
#Testing tensorflow

In [ ]:
import tensorflow as tf

In [ ]:
x = tf.Variable(3, name = 'x')
y = tf.Variable(4, name = 'y')
f = x*x*y + y + 2

In [ ]:
sess = tf.Session()

In [ ]:
sess.run(x.initializer)
sess.run(y.initializer)
result = sess.run(f)

In [ ]:
print(result)
sess.close()

In [ ]:
init = tf.global_variables_initializer()

In [ ]:
sess = tf.InteractiveSession()
init.run()
result = f.eval()
print(result)
#sess.close()

In [ ]:
x1 = tf.Variable(1)

In [ ]:
x1.graph is tf.get_default_graph()

In [ ]:
graph = tf.Graph()

with graph.as_default():
    x2 = tf.Variable(2)

x2.graph is tf.get_default_graph()

In [ ]:
x2.graph is graph

In [ ]:
tf.reset_default_graph()

In [ ]:
from sklearn.datasets import fetch_california_housing

In [ ]:
housing = fetch_california_housing()

In [ ]:
m, n = housing.data.shape

In [ ]:
housing_data_plus_bias = np.c_[np.ones((m,1)), housing.data]

In [ ]:
X = tf.constant(housing_data_plus_bias, dtype=tf.float32, name='X')
y = tf.constant(housing.target.reshape(-1, 1), dtype=tf.float32, name='y')
XT = tf.transpose(X)
theta = tf.matmul(tf.matmul(tf.matrix_inverse(tf.matmul(XT, X)), XT), y)

In [ ]:
with tf.Session() as sess:
    theta_value = theta.eval()

In [ ]:
theta_value

In [ ]:
print(X.shape)

In [ ]:
print(y.shape)

In [ ]:
print(housing.data.shape)