In [1]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("fundamentals.csv")

In [3]:
df2 = pd.read_csv("SP500_sectors_filled.csv", index_col = 'date', parse_dates = ['date'])

In [4]:
df2

,open,high,low,close,volume,Name,per_change,Sector
date,,,,,,,,
2013-02-08,15.07,15.1200,14.6300,14.75,8407500,AAL,-0.021234,Industrials
2013-02-11,14.89,15.0100,14.2600,14.46,8882000,AAL,-0.028878,Industrials
2013-02-12,14.45,14.5100,14.1000,14.27,8126000,AAL,-0.012457,Industrials
2013-02-13,14.30,14.9400,14.2500,14.66,10259500,AAL,0.025175,Industrials
2013-02-14,14.94,14.9600,13.1600,13.99,31879900,AAL,-0.063588,Industrials
2013-02-15,13.93,14.6100,13.9300,14.50,15628000,AAL,0.040919,Industrials
2013-02-19,14.33,14.5600,14.0800,14.26,11354400,AAL,-0.004885,Industrials
2013-02-20,14.17,14.2600,13.1500,13.33,14725200,AAL,-0.059280,Industrials
2013-02-21,13.62,13.9500,12.9000,13.37,11922100,AAL,-0.018355,Industrials
2013-02-22,13.57,13.6000,13.2100,13.57,6071400,AAL,0.000000,Industrials
2013-02-25,13.60,13.7600,13.0000,13.02,7186400,AAL,-0.042647,Industrials
2013-02-26,13.14,13.4200,12.7000,13.26,9419000,AAL,0.009132,Industrials
2013-02-27,13.28,13.6200,13.1800,13.41,7390500,AAL,0.009789,Industrials
2013-02-28,13.49,13.6300,13.3900,13.43,6143600,AAL,-0.004448,Industrials
2013-03-01,13.37,13.9500,13.3200,13.61,7376800,AAL,0.017951,Industrials
2013-03-04,13.50,14.0700,13.4700,13.90,8174800,AAL,0.029630,Industrials
2013-03-05,14.01,14.0500,13.7100,14.05,7676100,AAL,0.002855,Industrials
2013-03-06,14.52,14.6800,14.2500,14.57,13243200,AAL,0.003444,Industrials
2013-03-07,14.70,14.9300,14.5000,14.82,9125300,AAL,0.008163,Industrials
2013-03-08,14.99,15.2000,14.8400,14.92,10593700,AAL,-0.004670,Industrials
2013-03-11,14.85,15.1500,14.7100,15.13,6961800,AAL,0.018855,Industrials
2013-03-12,15.14,15.6000,14.9500,15.50,8999100,AAL,0.023778,Industrials
2013-03-13,15.54,16.2000,15.4800,15.91,11380000,AAL,0.023810,Industrials
2013-03-14,15.98,16.3600,15.9300,16.25,8383300,AAL,0.016896,Industrials
2013-03-15,16.45,16.5400,15.8800,15.98,17667700,AAL,-0.028571,Industrials
2013-03-18,15.80,16.3300,15.7100,16.29,6514100,AAL,0.031013,Industrials
2013-03-19,16.48,16.8500,16.4100,16.78,11805300,AAL,0.018204,Industrials
2013-03-20,17.13,17.3300,16.8700,17.23,10819800,AAL,0.005838,Industrials
2013-03-21,17.21,17.4300,16.8700,17.00,10740800,AAL,-0.012202,Industrials
2013-03-22,17.10,17.2900,16.7700,16.86,8545200,AAL,-0.014035,Industrials
...,...,...,...,...,...,...,...,...
2017-12-26,72.40,72.5500,71.9000,72.34,792134,ZTS,-0.000829,Health Care
2017-12-27,72.59,72.6900,72.2500,72.45,1159771,ZTS,-0.001929,Health Care
2017-12-28,72.49,72.6000,72.1400,72.39,710499,ZTS,-0.001380,Health Care
2017-12-29,72.55,72.7600,72.0400,72.04,1704122,ZTS,-0.007030,Health Care
2018-01-02,72.54,72.5900,71.4650,71.77,2135564,ZTS,-0.010615,Health Care
2018-01-03,71.77,72.1800,71.3400,72.10,2328506,ZTS,0.004598,Health Care
2018-01-04,72.75,72.9128,72.2600,72.53,2534010,ZTS,-0.003024,Health Care
2018-01-05,72.83,73.9200,72.5700,73.36,2166065,ZTS,0.007277,Health Care
2018-01-08,73.43,74.4200,73.1607,74.24,3631552,ZTS,0.011031,Health Care
2018-01-09,74.70,75.4750,74.4650,75.11,2721946,ZTS,0.005489,Health Care
2018-01-10,74.58,74.8000,73.2800,73.91,2257464,ZTS,-0.008984,Health Care
2018-01-11,74.05,74.6800,73.7200,74.59,1629279,ZTS,0.007292,Health Care
2018-01-12,74.91,75.6900,74.7700,75.39,1915669,ZTS,0.006408,Health Care
2018-01-16,76.06,76.4000,75.2100,75.54,2599094,ZTS,-0.006837,Health Care
2018-01-17,75.81,77.0300,75.3900,76.77,2769587,ZTS,0.012663,Health Care
2018-01-18,76.65,76.6500,75.8500,76.33,2588995,ZTS,-0.004175,Health Care
2018-01-19,76.69,76.9100,76.2200,76.62,4829602,ZTS,-0.000913,Health Care
2018-01-22,76.67,77.5800,76.6200,77.48,4195103,ZTS,0.010565,Health Care
2018-01-23,77.30,78.3200,76.9700,77.59,2264132,ZTS,0.003752,Health Care
2018-01-24,78.16,78.5100,77.6000,78.33,2585326,ZTS,0.002175,Health Care
2018-01-25,78.47,79.3800,78.3450,79.25,2327262,ZTS,0.009940,Health Care
2018-01-26,79.49,80.1300,79.3800,80.09,2532808,ZTS,0.007548,Health Care
2018-01-29,79.81,79.9500,79.1100,79.18,2662383,ZTS,-0.007894,Health Care
2018-01-30,78.44,78.6900,77.9100,78.35,3808707,ZTS,-0.001147,Health Care
2018-01-31,78.49,78.7700,76.5400,76.73,4136360,ZTS,-0.022423,Health Care
2018-02-01,76.84,78.2700,76.6900,77.82,2982259,ZTS,0.012754,Health Care
2018-02-02,77.53,78.1200,76.7300,76.78,2595187,ZTS,-0.009674,Health Care
2018-02-05,76.64,76.9200,73.1800,73.83,2962031,ZTS,-0.036665,Health Care
2018-02-06,72.74,74.5600,72.1300,73.27,4924323,ZTS,0.007286,Health Care
2018-02-07,72.70,75.0000,72.6900,73.86,4534912,ZTS,0.015956,Health Care

In [7]:
month_dict = {'2014-01': 'January', '2014-02': 'February', '2014-03': 'March', '2014-04': 'April', '2014-05': 'May',
             '2014-06': 'June', '2014-07': 'July', '2014-08': 'August', '2014-09': 'September', '2014-10': 'October',
             '2014-11': 'November', '2014-12': 'December'}
dates = list(month_dict.keys())
months = list(month_dict.values())

In [8]:
for i in range(len(months)):
    df2.loc[dates[i],'Month'] = months[i]

In [37]:
df2.reset_index(inplace=True)

In [40]:
df2.set_index('Name', inplace=True)

In [48]:
df2

,date,open,high,low,close,volume,per_change,Sector,Month
Name,,,,,,,,,
AAL,2014-01-02,25.070,25.8200,25.0600,25.360,8998943,0.011568,Industrials,January
AAL,2014-01-03,25.750,26.7500,25.5100,26.540,13836062,0.030680,Industrials,January
AAL,2014-01-06,26.620,27.2000,26.6000,27.030,11272273,0.015402,Industrials,January
AAL,2014-01-07,27.200,27.3997,26.6700,26.905,11288775,-0.010846,Industrials,January
AAL,2014-01-08,26.370,27.6800,26.3500,27.630,15736891,0.047782,Industrials,January
AAL,2014-01-09,28.240,29.6000,28.2000,29.420,26056445,0.041785,Industrials,January
AAL,2014-01-10,29.050,29.8300,28.7500,29.350,12824160,0.010327,Industrials,January
AAL,2014-01-13,29.180,29.5300,28.5800,28.650,10591701,-0.018163,Industrials,January
AAL,2014-01-14,28.750,29.0400,28.7100,28.870,10601529,0.004174,Industrials,January
AAL,2014-01-15,28.900,29.4400,28.7000,28.840,11192558,-0.002076,Industrials,January
AAL,2014-01-16,28.940,29.3900,28.7000,29.340,7034698,0.013822,Industrials,January
AAL,2014-01-17,29.300,30.0200,29.1710,30.020,18304949,0.024573,Industrials,January
AAL,2014-01-21,30.660,30.8000,30.2000,30.660,10612821,0.000000,Industrials,January
AAL,2014-01-22,30.710,31.2400,30.6500,31.200,7583631,0.015956,Industrials,January
AAL,2014-01-23,30.650,31.4600,30.6200,31.350,11397447,0.022838,Industrials,January
AAL,2014-01-24,31.020,31.1800,29.9100,30.400,13699981,-0.019987,Industrials,January
AAL,2014-01-27,30.400,30.8700,28.6700,30.180,16288488,-0.007237,Industrials,January
AAL,2014-01-28,30.320,32.2000,30.0200,31.960,23966003,0.054090,Industrials,January
AAL,2014-01-29,32.240,33.4000,32.1000,32.980,22726800,0.022953,Industrials,January
AAL,2014-01-30,33.360,34.2000,33.2000,33.800,13677012,0.013189,Industrials,January
AAL,2014-01-31,33.440,34.0800,33.0000,33.550,12795698,0.003289,Industrials,January
AAL,2014-02-03,33.950,34.4800,33.0500,33.960,21743871,0.000295,Industrials,February
AAL,2014-02-04,34.040,34.3800,33.5800,34.050,11241908,0.000294,Industrials,February
AAL,2014-02-05,33.820,33.9700,33.4000,33.800,15471546,-0.000591,Industrials,February
AAL,2014-02-06,33.710,34.9200,33.7000,34.660,13924507,0.028182,Industrials,February
AAL,2014-02-07,34.810,35.7000,34.6500,35.670,15411777,0.024706,Industrials,February
AAL,2014-02-10,36.100,36.1500,35.3800,35.580,11110235,-0.014404,Industrials,February
AAL,2014-02-11,35.580,35.6400,34.3900,35.130,11990875,-0.012648,Industrials,February
AAL,2014-02-12,34.890,35.0000,34.3600,34.690,9386780,-0.005732,Industrials,February
AAL,2014-02-13,34.070,35.0400,34.0600,35.025,8412272,0.028031,Industrials,February
...,...,...,...,...,...,...,...,...,...
ZTS,2014-11-18,44.879,44.9400,43.0300,44.190,12181375,-0.015352,Health Care,November
ZTS,2014-11-19,44.330,44.3800,43.2100,43.400,7031136,-0.020979,Health Care,November
ZTS,2014-11-20,42.910,43.2510,42.7100,43.150,5091131,0.005593,Health Care,November
ZTS,2014-11-21,43.480,43.8700,42.8500,43.870,5192498,0.008970,Health Care,November
ZTS,2014-11-24,44.090,44.9300,43.8282,44.580,4179357,0.011114,Health Care,November
ZTS,2014-11-25,44.580,44.7200,43.8700,43.910,3589015,-0.015029,Health Care,November
ZTS,2014-11-26,44.270,44.7000,43.8700,44.670,2131385,0.009035,Health Care,November
ZTS,2014-11-28,44.750,45.0900,44.7500,44.930,1332156,0.004022,Health Care,November
ZTS,2014-12-01,45.200,45.2400,44.2600,44.370,3153115,-0.018363,Health Care,December
ZTS,2014-12-02,44.370,44.9500,44.2800,44.740,2500597,0.008339,Health Care,December
ZTS,2014-12-03,44.740,45.0100,44.3900,44.880,2008310,0.003129,Health Care,December
ZTS,2014-12-04,44.790,44.9000,43.8500,44.000,4294633,-0.017638,Health Care,December
ZTS,2014-12-05,43.970,44.4600,43.8300,43.980,3313964,0.000227,Health Care,December
ZTS,2014-12-08,44.200,44.3900,43.8700,44.100,5889345,-0.002262,Health Care,December
ZTS,2014-12-09,43.180,44.4900,42.7400,43.820,5516141,0.014822,Health Care,December
ZTS,2014-12-10,43.850,44.2000,42.7000,42.770,4398000,-0.024629,Health Care,December
ZTS,2014-12-11,42.970,43.5000,42.7600,42.880,4942195,-0.002094,Health Care,December
ZTS,2014-12-12,42.720,43.0900,41.7400,41.770,4050331,-0.022238,Health Care,December
ZTS,2014-12-15,42.250,42.4900,41.3400,41.740,5947406,-0.012071,Health Care,December
ZTS,2014-12-16,41.650,42.0100,40.8300,40.850,4606599,-0.019208,Health Care,December
ZTS,2014-12-17,41.080,41.4300,40.8300,41.130,7628313,0.001217,Health Care,December
ZTS,2014-12-18,41.840,43.1500,41.7900,43.150,6578062,0.031310,Health Care,December
ZTS,2014-12-19,43.030,43.7300,42.6300,43.510,5601641,0.011155,Health Care,December
ZTS,2014-12-22,43.570,43.7800,42.9510,43.410,1921541,-0.003672,Health Care,December
ZTS,2014-12-23,43.600,43.7300,42.7600,42.970,2612498,-0.014450,Health Care,December
ZTS,2014-12-24,43.060,43.9890,43.0000,43.840,1300640,0.018114,Health Care,December
ZTS,2014-12-26,43.800,44.2850,43.8000,44.200,1518039,0.009132,Health Care,December
ZTS,2014-12-29,44.020,44.2300,43.8500,44.010,2007239,-0.000227,Health Care,December
ZTS,2014-12-30,43.980,44.1000,43.0900,43.350,2251147,-0.014325,Health Care,December
ZTS,2014-12-31,43.460,43.8800,43.0000,43.030,2148909,-0.009894,Health Care,December

In [49]:
first_close = df2[df2['January'] == name].close[0]
last_close = df2[df2['January'] == name].close[-1]

KeyError: 'January'

In [12]:
df2.dropna(inplace=True)

In [ ]:
df2.isnull().sum()

In [ ]:
df2.groupby('Month').plot()