In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("simfin-data.csv", error_bad_lines=False)

b'Skipping line 3: expected 2 fields, saw 17642\nSkipping line 7: expected 2 fields, saw 1501\n'

In [5]:
df.head(5)

,Data provided by SimFin - if you find any inconsistencies in the data contact us at info@simfin.com - all fundamentals in millions,shares outstanding in thousands - currency is USD
0,SimFin ID;247341;247341;247341;247341;247341;2...,NaN
1,ticker;FLWS;FLWS;FLWS;FLWS;FLWS;FLWS;FLWS;FLWS...,NaN
2,financial year end (month);6;6;6;6;6;6;6;6;6;6...,NaN
3,industry code;103002;103002;103002;103002;1030...,NaN
4,2009-01-02;3.84;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;...,NaN