In [1]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from pandas.plotting import lag_plot
import sklearn.linear_model
import time
%matplotlib inline

# Downloading data directly from Google

In [ ]:
'''
Follow directions here to create an API to access the data hosted on 
the drive: https://pythonhosted.org/PyDrive/quickstart.html

Once the client_secrets.json file is in ./Marin Workspace/ run the code 
below just once
'''
gauth = GoogleAuth()
gauth.LocalWebserverAuth()

In [ ]:
'''
Run the following code to download the data using the file's ID
'''
SP500_sectors_filled = '1S6lRlfRRVJT2pH_fLBgX9ZbWjroD-DSZ'
drive = GoogleDrive(gauth)
data = drive.CreateFile({'id': all_stocks_5yr})
data.GetContentFile('SP500_sectors_filled.csv')

# Load stock data and sector data

In [2]:
stock_data = pd.read_csv('all_stocks_5yr.csv', parse_dates = ['date'])
sector_data = pd.read_csv('sectors.csv')
sp_filled = pd.read_csv('SP500_sectors_filled.csv')
#sp_metrics = pd.read_csv('sp_metrics.csv')

In [ ]:
def combine_dataframes(stock, sector):
    '''
    First parameter must be the stock dataframe and the second paramater must be the sector 
    dataframe. This will return a dataframe matching stocks to their sectors
    '''
    stock.set_index('Name', inplace = True)
    sector.set_index('Symbol', inplace = True)
    
    df = pd.concat([stock_data, sector_data], axis = 1, join_axes=[stock.index])
    
    df.rename(columns={'Name':'full_name'}, inplace = True)
    df.reset_index(inplace = True)
    df.set_index('date', inplace = True)
    
    return df

In [10]:
sp_filled.head()

         date   open   high    low  close    volume Name  per_change  Sector
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL   -0.021234       5
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL   -0.028878       5
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL   -0.012457       5
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL    0.025175       5
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL   -0.063588       5

In [3]:
sp_filled.dropna(inplace=True)

In [4]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
#sp_filled['Name'] = le.fit([sp_filled['Name']])
sp_filled['Sector'] = le.fit_transform(sp_filled['Sector'])
#le.transform(sp_filled['Sector'])
le.classes_

array(['Consumer Discretionary', 'Consumer Staples', 'Energy',
       'Financials', 'Health Care', 'Industrials',
       'Information Technology', 'Materials', 'Real Estate',
       'Telecommunication Services', 'Utilities'], dtype=object)

In [13]:
sp_filled.groupby('Sector').apply(sort_values('volume'))

NameError: name 'sort_values' is not defined

In [ ]:
le.classes_

In [ ]:
sp_filled['Name'] = sp_filled['Name'].apply(preprocessing.LabelEncoder().fit_transform)
sp_filled.groupby(['Name','Sector']).mean()